# Acceptance Test Report

## Memory Usage (Phpolar\Phpolar\MemoryUsage)

- [x] Memory usage shall be below 118999 bytes

## Project Size (Phpolar\Phpolar\ProjectSize)

- [x] Source code total size shall be below 900 bytes
